*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

header{
    position: relative;
    height: 100px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

}

header div{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ECD9C5
}

footer{
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECD9C5;
    bottom: 0;
    position: absolute;
}

nav,
#menu-checkbox{
    display: none;
}

nav a{
    display: block;
    color:#0A3641;
    padding: 10px;
    padding-right: 10px;
}

nav{
    position: absolute;
    background-color: #ECD9C5;
    top: 90px;
    border-radius: 0px 10px 10px 0px;
}
#menu-checkbox:checked ~ nav{
    display: block;
}

.iconsize{
    font-size: xx-large;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.logomindre{
    height: 60px;
    width: auto;
}

.textlogo{
    height: 30px;
    width: auto;    
}

.stat-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    height: 170px;
    width: 100vw;
    margin-top: 30px;
    gap: 5px;
    background-color: #ecd9c58c;
}
.sizebox{
    display: inline-block;
    height: 30px;
    width: 30px;
    padding-top: 5px;
    margin-top: 20px;
    border-radius: 5px;
    color: #ECD9C5;
    background-color: #0A3641;
}

.mindre-jakker{
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    height: 150px;
}

.center{
    display: flex;
    text-align: center;
}
.horiliste{
    display: inline-block;
    margin-top: 5px;
}

.namegrid{
    height: 200px;
    width: 80vw;
    display: grid;
    margin-top: 10px;
    margin-left: 30px;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.underline{
    width: 60vw;
    border-bottom: solid 1px #ECD9C5;
}

.checkout{
    width: 130px;
    height: 50px;
    font-weight: 700;
    font-size: larger;
    display: flex;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    background-color: #0A3641;
    margin-left: 31%;
    text-decoration: none;
    color: #ECD9C5;
}

.confirmscreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding-top: 10px;
    height: 250px;
    width: 300px;
    margin-top: 50px;
    margin-left: 37px;
    border-radius: 10px;
    background-color: #ECD9C5;
    text-decoration: none;
    color:#0A3641;
}

.Rdlogo{
    width: 150px;
    display: flex;
    justify-content: center;
    align-self: center;
}