*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {display: grid;}

header{
    position: relative;
    height: 100px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

}

header div{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ECD9C5
}

footer{
    height: 100px;
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECD9C5;
    margin-top: 127%;
}

.frontpage{
    height: 85vh;
    position: absolute;
    z-index: -2;
}


nav,
#menu-checkbox{
    display: none;
}

nav a{
    display: block;
    color:#0A3641;
    padding: 10px;
    padding-right: 10px;
}

nav{
    position: absolute;
    background-color: #ECD9C5;
    top: 90px;
    border-radius: 0px 10px 10px 0px;
}


#menu-checkbox:checked ~ nav{
    display: block;
}

.iconsize{
    font-size: xx-large;
    font-weight: 700;
    cursor: pointer;
}

.logomindre{
    height: 60px;
    width: auto;
}

.overskrift{
    margin-top: 10px;
    margin-left: 35%;
}

.lorem{
    margin: 30px;
}
.socials{
    display: inline-block;
    font-size: smaller;
    margin: 5px;

}

.textdec{
    text-decoration: none;
    color: black;
}
.textlogo{
    height: 30px;
    width: auto;

}