*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

header{
    position: relative;
    height: 100px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

}

header div{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ECD9C5
}

footer{
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECD9C5;
    bottom: 0;
    position: absolute;
}

nav,
#menu-checkbox{
    display: none;
}

nav a{
    display: block;
    color:#0A3641;
    padding: 10px;
    padding-right: 10px;
}

nav{
    position: absolute;
    background-color: #ECD9C5;
    top: 90px;
    border-radius: 0px 10px 10px 0px;
}
#menu-checkbox:checked ~ nav{
    display: block;
}

section,
#ctaknapp{
    display:none;
}

section i{
    display: block;
    color:#0A3641;
    padding: 10px;
    padding-right: 10px;
}

section{
    position: absolute;
    background-color: #ECD9C5;
    top: 90px;
}
#ctaknapp:checked ~ section{
    display: block;
}

.cta{
    width: 100vw;
    height: 70vh;
    background-color: #0A3641;
    left: -192.5px;
    top: 10px;
    position: absolute;
}

.ctagrid{
    position: absolute;
    height: 300px;
    width: 280px;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.ctagrid2{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr;
    height: 50px;
    width: 280px;
    gap: 10px;
    margin-top: 300px;
    margin-left: 10%;
    place-items: center;
    color: white;
}

.ctaskrift{
    font-size:medium;
    font-weight: bold;
    text-decoration: none;
    color: white;
}


.mindre-jakker{
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    height: 120px;
}
.jakker{
    display: flex;
    height: 200px;
    margin-left: 21%;
}

.iconsize{
    font-size: xx-large;
    font-weight: 700;
    cursor: pointer;
}

.logomindre{
    height: 60px;
    width: auto;
}

.stat-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    height: 230px;
    width: 315px;
    margin-top: 10px;
    gap: 10px;
    margin-left: 30px;
}
.horiliste{
    display: inline-block;
    margin-top: 5px;
}

.sizebox{
    display: inline-block;
    height: 30px;
    width: 30px;
    padding-top: 5px;
    margin-top: 20px;
    border-radius: 5px;
    color: #ECD9C5;
    background-color: #0A3641;
}

.center{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.addcart{
    height: 30px;
    width: 100px;
    margin-top: 20px;
    padding-top: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    text-decoration: none;
    background-color: #0A3641;
    color: #ECD9C5;
}

.info-grid{
    margin-left: 35px;
    margin-top: 10px;
    height: 200px;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.textlogo{
    height: 30px;
    width: auto;
}


